* { -webkit-print-color-adjust: exact; }
#logo,
#content h2,
.navbar,
section,
footer,
#klk h1,
.logo,
.contact,
.link,
.header,
#print,
.footer,
#msg_pop,
.ac-container1,
.ac-container2,
.acc,
#qty_cart,
#promo_kod,
#cart,
.form-inner
 {
    display: none;
}
#soc_seti,
#nav,
#div_left,
#div_right,
#down_print {
    display: none;
    display: flex;
    flex-wrap: wrap;
}
#cart_print { 
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}
#cart_print td,
 #cart_print th {
    padding: 5px 10px;
}
#cart_summ p {
    padding: 2px;
}
#cart_summ1 p {
    padding: 2px;
}
#cart_summ2 p {
    padding: 2px;
}
#list_cart {
    width:100%
}
#list_cart th {
    margin:5px;padding:5px;
    color:#666666;
    font-family: Arial, Helvetica,sans-serif;
    font-size:10px
}
#list_cart p {
    padding:1px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px
}
#num_kp p {
    padding: 0px;
}
.win_izdelie,
.win_izdelie_rub {
    color: green;
    font-size:2em
}
input {
    width: 40px;
    height: 15px;
    font-size: 9px;
    border: none;
    text-align: center;
    color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
}